USE [master]
GO
/****** Objeto: Database [ProductosSOAPDB] Fecha de script: 31/8/2026 18:58:05 ******/
CREATE DATABASE [ProductosSOAPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductosSOAPDB', FILENAME = N'C:\Users\HP\ProductosSOAPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductosSOAPDB_log', FILENAME = N'C:\Users\HP\ProductosSOAPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductosSOAPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductosSOAPDB]
GO
/****** Objeto: Table [dbo].[Categorias] Fecha de script: 31/8/2026 18:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Productos] Fecha de script: 31/8/2026 18:58:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](250) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Tecnología', N'Productos tecnológicos y electrónicos', 1)
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Hogar', N'Productos para el hogar', 1)
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Oficina', N'Productos y accesorios de oficina', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (1, N'Laptop Lenovo IdeaPad Pro 1', N'Laptop para trabajo y estudio y jugar', CAST(750.00 AS Decimal(10, 2)), 10, 1, 1)
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (2, N'Mouse Logitech', N'Mouse inalámbrico', CAST(25.50 AS Decimal(10, 2)), 30, 1, 1)
INSERT [dbo].[Productos] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (3, N'Licuadora Oster', N'Licuadora de 3 velocidades', CAST(85.99 AS Decimal(10, 2)), 15, 1, 2)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Precio] CHECK  (([Precio]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Precio]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Stock]
GO
USE [master]
GO

-- ============================================
-- TABLA MOVIMIENTO_INVENTARIO
-- ============================================

IF OBJECT_ID('dbo.Movimiento_Inventario', 'U') IS NULL
BEGIN
    CREATE TABLE dbo.Movimiento_Inventario
    (
        IdMovimiento INT IDENTITY(1,1) PRIMARY KEY,

        IdProducto INT NOT NULL,

        TipoMovimiento NVARCHAR(20) NOT NULL,

        Cantidad INT NOT NULL,

        FechaMovimiento DATETIME2 NOT NULL
            CONSTRAINT DF_MovimientoInventario_Fecha
            DEFAULT GETDATE(),

        Observacion NVARCHAR(250) NULL,

        CONSTRAINT FK_MovimientoInventario_Productos
            FOREIGN KEY (IdProducto)
            REFERENCES dbo.Productos(IdProducto),

        CONSTRAINT CK_MovimientoInventario_Tipo
            CHECK (
                TipoMovimiento IN ('Entrada', 'Salida')
            ),

        CONSTRAINT CK_MovimientoInventario_Cantidad
            CHECK (
                Cantidad > 0
            )
    );
END;
GO


-- ============================================
-- CONSULTAR MOVIMIENTOS
-- ============================================

SELECT *
FROM dbo.Movimiento_Inventario;
GO


-- ============================================
-- MOVIMIENTOS CON PRODUCTO RELACIONADO
-- ============================================

SELECT
    m.IdMovimiento,
    m.IdProducto,
    p.Nombre AS Producto,
    m.TipoMovimiento,
    m.Cantidad,
    m.FechaMovimiento,
    m.Observacion
FROM dbo.Movimiento_Inventario AS m
INNER JOIN dbo.Productos AS p
    ON m.IdProducto = p.IdProducto;
GO
